workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM",
          "mode": "list",
          "cachedResultName": "the1%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1399753190,
          "mode": "list",
          "cachedResultName": "Imgur",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit#gid=1399753190"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done",
              "lookupValue": "OK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        304,
        656
      ],
      "id": "e7a09e91-6441-44c9-80dd-3b90a18fda85",
      "name": "Get All Videos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "el1Qg4NlEH68WdEo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM",
          "mode": "list",
          "cachedResultName": "the1%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1368130712,
          "mode": "list",
          "cachedResultName": "Music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit#gid=1368130712"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done",
              "lookupValue": "OK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        656
      ],
      "id": "5ebbf113-20bd-43f6-a32e-d4c7fbfdb6ee",
      "name": "Get All Musics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "el1Qg4NlEH68WdEo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM",
          "mode": "list",
          "cachedResultName": "the1%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1136,
        656
      ],
      "id": "de86a50d-a6c1-4225-b470-c9cbadbbb71c",
      "name": "Get Quotes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "el1Qg4NlEH68WdEo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1344,
        656
      ],
      "id": "d47ea247-9c3a-41da-81f1-0d879cfaa5aa",
      "name": "Limit2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54b26b7f-c23a-45ae-8023-336cc67ea51f",
              "name": "music_path",
              "value": "={{ $('Aggregate Music').item.json.Link[Math.floor(Math.random() * $('Aggregate Music').item.json.Link.length)] }}",
              "type": "string"
            },
            {
              "id": "9cc8d54b-e195-41c1-b549-b88face82bc1",
              "name": "video_path",
              "value": "={{ $('Aggregate Video').item.json.Link[Math.floor(Math.random() * $('Aggregate Video').item.json.Link.length)] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        864
      ],
      "id": "13c0c437-1ae8-413a-a4e8-7264e2aa9f71",
      "name": "Pick Video and Music in Random"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        512,
        656
      ],
      "id": "5f50b486-2670-4746-a95c-5ecf38b26b18",
      "name": "Aggregate Video"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        656
      ],
      "id": "32d1c048-0dbf-41ee-8918-f6137c123090",
      "name": "Aggregate Music"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b6a23eb-ea20-4155-a038-d90b2d5834a4",
              "name": "File Name",
              "value": "={{ Array.from({ length: 10 }, () => Math.random().toString(36)[2]).join('') }}",
              "type": "string"
            },
            {
              "id": "434da34d-fc19-47fb-87f0-dde5fdeae852",
              "name": "Folder Name",
              "value": "videosDone",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        864
      ],
      "id": "77bc7d85-bb4e-429b-adf3-73abba91723d",
      "name": "Generate File Name2"
    },
    {
      "parameters": {
        "jsCode": "const fontColor = \"white\";\nconst fontFile = \"./fonts/CormorantGaramond-VariableFont_wght.ttf\";\nconst fontSize = 80;\nconst sourceFontSize = 50; // Smaller font size for source\nconst lineHeightMultiplier = 1.1;\nconst sourceLineHeightMultiplier = 1.2;\nconst videoWidth = 1080;\nconst videoHeight = 1920;\n\n// Spacing and positioning adjustments\nconst quoteSourceSpacing = 40; // Space between quote and source\n\nconst avgCharWidth = fontSize * 0.6;\nconst maxCharsPerLine = Math.floor(videoWidth / avgCharWidth);\n\n// Process quote text\nconst words = $(\"Get Quotes\").first().json.Quote.split(\" \");\nconst lines = [];\nlet currentLine = \"\";\nlet currentCharCount = 0;\n\nwords.forEach(word => {\n    const wordLength = word.length;\n    const potentialLength = currentCharCount + (currentLine ? 1 : 0) + wordLength;\n\n    if (potentialLength <= maxCharsPerLine) {\n        currentLine += `${currentLine ? \" \" : \"\"}${word}`;\n        currentCharCount = potentialLength;\n    } else {\n        lines.push(currentLine);\n        currentLine = word;\n        currentCharCount = wordLength;\n    }\n});\n\nif (currentLine) lines.push(currentLine);\n\n// Process source text\nconst sourceWords = $(\"Get Quotes\").first().json.Source.split(\" \");\nconst sourceLines = [];\nlet currentSourceLine = \"\";\nlet currentSourceCharCount = 0;\n\nconst sourceAvgCharWidth = sourceFontSize * 0.6;\nconst sourceMaxCharsPerLine = Math.floor(videoWidth / sourceAvgCharWidth);\n\nsourceWords.forEach(word => {\n    const wordLength = word.length;\n    const potentialLength = currentSourceCharCount + (currentSourceLine ? 1 : 0) + wordLength;\n\n    if (potentialLength <= sourceMaxCharsPerLine) {\n        currentSourceLine += `${currentSourceLine ? \" \" : \"\"}${word}`;\n        currentSourceCharCount = potentialLength;\n    } else {\n        sourceLines.push(currentSourceLine);\n        currentSourceLine = word;\n        currentSourceCharCount = wordLength;\n    }\n});\n\nif (currentSourceLine) sourceLines.push(currentSourceLine);\n\n// Calculate positions\nconst quoteLineHeight = fontSize * lineHeightMultiplier;\nconst sourceLineHeight = sourceFontSize * sourceLineHeightMultiplier;\n\nconst totalQuoteHeight = lines.length * quoteLineHeight;\nconst totalSourceHeight = sourceLines.length * sourceLineHeight;\nconst totalTextHeight = totalQuoteHeight + totalSourceHeight + quoteSourceSpacing;\n\nconst startY = (videoHeight - totalTextHeight) / 2;\n\nfunction escapeForDrawtext(text) {\n  return text\n    .replace(/:/g, '\\\\:')       // escape colons\n    .replace(/,/g, '\\\\,')       // escape commas\n    .replace(/\"/g, '\\\\\"')       // escape double quotes\n    .replace(/'/g, \"\\\\'\");      // escape single quotes\n}\n\n// Create quote drawtext filters (centered)\nconst quoteDrawText = lines.map((line, index) => {\n  const yPosition = startY + (index * quoteLineHeight);\n  const cleanLine = escapeForDrawtext(line);\n  return `drawtext=text='${cleanLine}':fontsize=${fontSize}:fontcolor=${fontColor}:x=(w-tw)/2:y=${yPosition}:fontfile=${fontFile}`;\n}).join(\",\");\n\n// Create source drawtext filters (also centered)\nconst sourceDrawText = sourceLines.map((line, index) => {\n  const yPosition = startY + totalQuoteHeight + quoteSourceSpacing + (index * sourceLineHeight);\n  const cleanLine = escapeForDrawtext(line);\n  // Center the source text horizontally, same as quote\n  return `drawtext=text='${cleanLine}':fontsize=${sourceFontSize}:fontcolor=${fontColor}:x=(w-tw)/2:y=${yPosition}:fontfile=${fontFile}`;\n}).join(\",\");\n\n// Combine quote and source filters\nconst drawText = quoteDrawText + (sourceDrawText ? ',' + sourceDrawText : '');\n\nreturn {\n  json: {\n    drawText: drawText + '[outv]',\n    lines: lines,\n    sourceLines: sourceLines\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        864
      ],
      "id": "0b023827-3453-4927-82e1-f63c158cfbf7",
      "name": "Generate Text Overlay For Video"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=ffmpeg -i \"{{ $('Pick Video and Music in Random').item.json.video_path }}\" \\\n-i \"{{ $('Pick Video and Music in Random').item.json.music_path }}\" \\\n-filter_complex \"\\\n[0:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:color=black@0.3[vid];\\\ncolor=black@0.3:size=1080x1920:d=10,boxblur=10:10[bg];\\\n[bg][vid]overlay[bgvid];\\\n[bgvid]{{ $json.drawText }};\\\n[1:a]volume=0.8[aout]\" \\\n-map \"[outv]\" \\\n-map \"[aout]\" \\\n-t 10 -aspect 9:16 -c:v libx264 -c:a aac -shortest \\\n\"./{{ $('Generate File Name2').item.json['File Name'] }}.mp4\" -y"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        928,
        864
      ],
      "id": "195fc46b-0114-4059-83d2-3b57a4e1688e",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "fileSelector": "=./{{ $('Generate File Name2').item.json['File Name'] }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1344,
        864
      ],
      "id": "a1954333-08d6-4759-b6a8-37540e2d7820",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/webm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/JSON",
        "body": "={\n  \"snippet\": {\n    \"title\": \"{{ $('Limit2').item.json['Quote'].replace(/\\\"/g, '\\\\\"') }}\",\n    \"description\": \"{{ $('Limit2').item.json['Quote'].replace(/\\\"/g, '\\\\\"') }}\",\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\",\n    \"channelId\": \"UCXSafpyQpEFN0KGePHGzWAQ\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        864
      ],
      "id": "a16fc24e-bdb5-4456-ab3a-c51cd4bddf3c",
      "name": "Create Youtube Link",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "rYLDFmsx7eKrhcUF",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Create Youtube Link').item.json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "video/webm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        1072
      ],
      "id": "008129ed-3945-41e5-ab12-bead9df872e2",
      "name": "Upload Video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "rYLDFmsx7eKrhcUF",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM",
          "mode": "list",
          "cachedResultName": "the1%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit2').item.json.row_number }}",
            "Quote": "={{ $('Limit2').item.json.Quote }}",
            "Source": "={{ $('Limit2').item.json.Source }}",
            "Done": "OK",
            "Date": "={{ $now }}",
            "Link": "=https://www.youtube.com/watch?v={{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Quote",
              "displayName": "Quote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        496,
        1072
      ],
      "id": "458fc76d-c728-437f-9c53-efa4a36aaca2",
      "name": "Update Video Post",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "el1Qg4NlEH68WdEo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm ./{{ $('Generate File Name2').item.json['File Name'] }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        688,
        1072
      ],
      "id": "de6e422a-2549-4b57-92e3-41732361b9b5",
      "name": "Remove File"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1UmpEWVwoUSqyg0Gbdgml2LR-7G4nNxNj",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UmpEWVwoUSqyg0Gbdgml2LR-7G4nNxNj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        864
      ],
      "id": "feb51db6-45f6-41b7-b17d-04d3e89e0421",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MFYgI5n0JPqq2kBH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM",
          "mode": "list",
          "cachedResultName": "the1%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 100222832,
          "mode": "list",
          "cachedResultName": "DriveDone",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/186xNK_ToihwIPsxSs7GGeUgJnhygWs4xR9W_9glfPxM/edit#gid=100222832"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Drive Link": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
            "Title": "={{ $('Get Quotes').item.json.Quote }}",
            "Publish": "Go"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Drive Link",
              "displayName": "Drive Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish",
              "displayName": "Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1728,
        864
      ],
      "id": "5216d4bc-4709-4277-938e-84d5a0b904c6",
      "name": "Append row in sheet (Trigger Zapier and Buffer)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "el1Qg4NlEH68WdEo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get All Videos": {
      "main": [
        [
          {
            "node": "Aggregate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Musics": {
      "main": [
        [
          {
            "node": "Aggregate Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quotes": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Pick Video and Music in Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Video": {
      "main": [
        [
          {
            "node": "Get All Musics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Music": {
      "main": [
        [
          {
            "node": "Get Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Video and Music in Random": {
      "main": [
        [
          {
            "node": "Generate File Name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate File Name2": {
      "main": [
        [
          {
            "node": "Generate Text Overlay For Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Text Overlay For Video": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Create Youtube Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Youtube Link": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Update Video Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Post": {
      "main": [
        [
          {
            "node": "Remove File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append row in sheet (Trigger Zapier and Buffer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "530b161f-5316-4066-89a7-996c519c4af7",
  "meta": {
    "instanceId": "1b56398f25f61d5d8dc16c17886a0160d4aa83cf310ff9036fbbc5da1d171746"
  },
  "id": "HJiAhNkjf18QYbZb",
  "tags": []
}